#overview.block
  .header
    #last-updated
      Last updated:
      %span.datetime -
    = haml :nav
  .body
    #service-status
      .name
        %h1= APP_CONFIG["service_name"]
    -#downtime-explanation
      = APP_CONFIG["default_downtime_message"]
#nodes.block
  .header
    %span.name NODES
    %span.node-status STATUS
  .body
    #nodes