#overview.block
  .header
    #last-updated
      Last updated:
      %span.datetime -
    = haml :nav
  .body
    #service-status
      .name
        %h1= APP_CONFIG["service_name"]
    #downtime-message
      = APP_CONFIG["default_downtime_message"]
#nodes-list.block
  .header
    %span.name NODES
    %span.right STATUS
  .body
    #nodes