common: &common
  title: Status board
  service_name: MONITORED APP NAME

development: &non_production_settings
  <<: *common
  host: http://localhost:4567
  nodes:
    - http://host1.example.com/status
    - http://host2.example.com/status

test:
  <<: *non_production_settings
  <<: *common
  
production:
  <<: *common
  
  host: Status board production host name
  
  # List HTTP or HTTPs nodes monitored
  # See Development settings for example
  nodes:
    - 
    -

